/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "french_keymap.h"



&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };

/ { 
    keymap {
        compatible = "zmk,keymap";
            
        default {
            display-name = "default";
            bindings = 
                < &kp LEFT_SHIFT &kp FR_Z>,
                < &studio_unlock &kp FR_A &kp FR_E>;
        };
        layer_1 {
            display-name = "layer_1";
            bindings = 
                < &kp LEFT_SHIFT &kp FR_Z>,
                < &studio_unlock &kp FR_A &kp FR_E>;
        };
        layer_2 {
            display-name = "layer_2";
            bindings = 
                < &kp LEFT_SHIFT &kp FR_Z>,
                < &studio_unlock &kp FR_A &kp FR_E>;
        };
        layer_3 {
            display-name = "layer_3";
            bindings = 
                < &kp LEFT_SHIFT &kp FR_Z>,
                < &studio_unlock &kp FR_A &kp FR_E>;
        };
        layer_4 {
            display-name = "layer_4";
            bindings = 
                < &kp LEFT_SHIFT &kp FR_Z>,
                < &studio_unlock &kp FR_A &kp FR_E>;
        };
    };
};